* {
  box-sizing: border-box;
}

body {
  background: #ECF9EC;
  margin-top: 4%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 825px;
  height: 825px;
  background-color: tomato;
  border-radius: 60px;
  position: relative;
  border: 10px solid #FF8080;
}

#container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 600px;
  height: 600px;
  background: lightblue;
  box-shadow: 0px 0px 3px 18px #CD1313;
  border-radius: 10px;
}

#btnContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
  background: lightgray;
}

.dialsL {
  display: block;
  background-color: #F2E9DE;
  width: 90px;
  height: 90px;
  z-index: 3;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 50%;
  box-shadow: 1px 2px 23px #CD1313;
  border: white;
  text-align: center;
}

.dialsR {
  display: block;
  background-color: #F2E9DE;
  width: 90px;
  height: 90px;
  z-index: 3;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  box-shadow: 1px 2px 23px #CD1313;
  border: white;
}

#title {
  font-size: 1.7em;
  font-family: Courgette;
  position: absolute;
  top: 11px;
  color: #FDE74C;
}

.slider {
  width: 100px;
}

.btn {
  font-size: 1em;
  text-align: center;
  width: 50px;
  border-radius: 10px;
  height: 50px;
  display: block;
  border: white;
  box-shadow: 1px 2px 5px #CD1313;
  margin: 10px;
  text-shadow: 1px 1px 1px grey;
  color: white;
  text-decoration: none;
  outline: none;
  transition: 0.2s ease;
  background-color: #F2EFE9;
  cursor: pointer;
}

.btn:active {
  box-shadow: 1px 1px grey;
  transform: scale(0.98);
}

.slider {
  width: 450px;
  cursor: pointer;
  height: 8px;
}

.textfield {
  background-color: lightGray;
  border-radius: 8px;
  height: 50px;
  width: 50px;
  font-size: 1.3em;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
}

.text {
  z-index: 4;
  font-size: 3.5em;
  color: #F2E9DE;
  text-shadow: 1px 1px 2px grey;
  font-family: Exo;
  border: white;
}

.positionL {
  position: absolute;
  bottom: 30px;
  left: 45px;
  z-index: 4;
}

.positionR {
  position: absolute;
  bottom: 30px;
  right: 48px;
  z-index: 4;
}